<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Usuń nadanie roli</h3>
</div>
<div class="modal-body text-center" id="modal-body">
    <p>Czy jesteś pewny, że chcesz usunąć to nadanie roli?</p>
    <p><strong>Pamiętaj, że niektóre role wynikają automatycznie z właściwości obiektu i ich usunięcie może nie być
        skuteczne.</strong></p>
</div>
<div class="modal-footer" style="margin-top: 24px;">
    <button class="btn btn-raised btn-primary"
            type="button"
            ng-click="$ctrl.ok()">Usuń
    </button>
    <button class="btn btn-raised btn-warning"
            type="button"
            ng-click="$ctrl.cancel()">Anuluj
    </button>
</div>