<div class="panel-main" ng-controller="PanelCtrl">
    <div class="page-header">
        <h1>Panel Główny
            <small>Settler</small>
        </h1>
    </div>
    <div class="panel-last-row">
        <div class="col-sm-12">
            <div class="row text-center">
                <div class="col-sm-12">
                    <h2>Należności</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <h3>Od innych</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row text-center" ng-show="charges.to && charges.to.length === 0">
                                <div class="col-sm-12">
                                    <em>Niestety brak</em>
                                </div>
                            </div>
                            <div class="row" ng-show="charges.to && charges.to.length > 0">
                                <div class="col-sm-12">
                                    <table width="100%">
                                        <thead>
                                        <tr>
                                            <td width="80%">
                                                <strong>Użytkownik</strong>
                                            </td>
                                            <td width="20%">
                                                <strong>Wartość</strong>
                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in charges.to track by $index">
                                            <td>
                                                {{row.userFrom}}
                                            </td>
                                            <td>
                                                {{row.charge | myCurrency:'PLN'}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <h3>Komu płacę</h3>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row text-center" ng-show="charges.from && charges.from.length === 0">
                            <div class="col-sm-12">
                                <em>Na szczęście brak</em>
                            </div>
                        </div>
                        <div class="row" ng-show="charges.from && charges.from.length > 0">
                            <div class="col-sm-12">
                                <table width="100%">
                                    <thead>
                                    <tr>
                                        <td width="80%">
                                            <strong>Użytkownik</strong>
                                        </td>
                                        <td width="20%">
                                            <strong>Wartość</strong>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in charges.from track by $index">
                                        <td>
                                            {{row.userTo}}
                                        </td>
                                        <td>
                                            {{row.charge | myCurrency:'PLN'}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>