<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Zmiana hasła</h1>

            <div class="alert alert-danger" ng-show="!isTokenValid || error">
                <strong>Wystąpił następujący problem:</strong>
                <br/>

                <div class="text-center" ng-show="!isTokenValid">
                    Ten link jest nieprawidłowy.
                </div>
                <div class="text-center" ng-show="error">
                    Serwer nie odpowiada. Skontaktuj się z administratorem
                </div>
            </div>
            <form ng-show="isTokenValid && !error" class="form" role="form">
                <div class="form-group">
                    <label for="newPassword">Wprowadź nowe hasło dla użytkownika <em>{{login}}</em></label>
                    <input type="password" class="form-control" id="newPassword" placeholder="Nowe hasło"
                           ng-model="newPassword">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="setPassword()">Wyślij</button>
                <button type="submit" class="btn btn-warning pull-right" ng-click="goLogin()">Wróć do logowania</button>
            </form>
            <div ng-show="isTokenValid && !error" class="alert alert-info text-justify" style="margin-top: 15px;">
                <strong>Informacja</strong>
                <br/>

                <div>
                    Jeśli ten link jest prawidłowy, twoje hasło zostanie zmienione. Następnie będzie można zalogować się
                    na konto przy jego użyciu.
                </div>
            </div>
        </div>
    </div>
</div>
