<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-2 text-center panel-header-avatar-margin circular-container">
                <div class="circular-wrapper circular-64">
                    <img class="circular-avatar" width="64"
                         src="/images/transaction.png" alt="avatar"/>
                </div>
                <div class="col-sm-12" ng-show="avatarFile">
                    <div class="progress" ng-click="file = false" role="button">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                             aria-valuemax="100"
                             ng-style="{'width': avatarFile.progress + '%'}">
                            {{avatarFile.progress}}%
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 panel-header-avatar-margin">
                <div>
                    <h2 class="list-group-item-heading">{{isNew() ? 'Nowa ' : ''}}Transakcja
                        <strong>{{data.reference}}</strong></h2>
                    <h4 class="list-group-item-text">Utworzona: {{isNew() ? '---' : data.created}}</h4>
                </div>
            </div>
            <div class="col-sm-2 panel-header-avatar-margin">
                <button type="button"
                        class="btn btn-success btn-raised text-center"
                        style="width: 100%;"
                        ng-click="save()">
                    <span class="glyphicon glyphicon-floppy-disk hidden-lg hidden-md hidden-xs"
                          aria-hidden="true"></span>
                    <span class="hidden-sm">Zapisz</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h5>Kategorie:
                    <span class="label label-info"
                          style="margin-right: 8px;"
                          ng-repeat="category in data.categories">
                        {{category.code+' - ' + category.description}}
                        <span class="glyphicon glyphicon-remove"
                              aria-hidden="true"
                              style="cursor: pointer; margin-left: 6px;"
                              ng-click="data.categories.splice($index, 1)"></span>
                    </span>
                    <span class="label label-danger"
                          ng-show="!data.categories || data.categories.length < 1"
                          style="margin-right: 8px;">
                        <strong>Błąd!</strong> Transakcja musi być przypisana do przynajmniej jednej kategorii.
                    </span>
                    <span class="label label-success"
                          style="margin-right: 8px; cursor: pointer;">
                        <span class="glyphicon glyphicon-plus"
                              aria-hidden="true"
                              style="margin-left: 1px;"
                              ng-click="openAddCategoryModal()"></span>
                    </span>
                </h5>
            </div>
        </div>
    </div>

    <form class="form" name="transactionDetailsForm">

        <div class="panel panel-primary">
            <div class="panel-heading">
                Podstawowe dane
            </div>
            <div class="panel-body">

                <div class="row">

                    <div class="col-sm-2 form-group">
                        <label>Wartość</label>

                        <input class="form-control input-sm"
                               type="text"
                               name="transactionValue"
                               ng-class=""
                               placeholder="Podaj wartość"
                               ng-required="true"
                               ng-maxlength="50"
                               ng-model="data.value"
                               required>
                    </div>

                    <div class="col-sm-4 form-group">
                        <date-time-picker
                                name="evaluatedDate"
                                label="Ewaluowana"
                                placeholder="Data ewaluacji"
                                ng-model="data.evaluated"></date-time-picker>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label>Twórca</label>
                        <div style="margin-top:-10px;">
                            <user-picker ng-model="data.creator"
                                         placeholder="Pozostaw puste dla bieżącego użytkownika"></user-picker>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-primary">

            <div class="panel-heading">
                Dodatkowe informacje
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label>Opis</label>

                        <input class="form-control input-sm"
                               type="text"
                               placeholder="Opis"
                               name="description"
                               ng-maxlength="128"
                               ng-model="data.description"
                               required>
                    </div>
                </div>
            </div>

        </div>

        <div class="panel panel-primary">

            <div class="panel-heading">
                Redystrybucja
            </div>

            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h4>Właściciele</h4>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-12">
                                <button type="button"
                                        style="margin-bottom: 8px;"
                                        ng-click="openAddRedistributionModal(data.owners)"
                                        ng-disabled="!data.value || parseFloatOwn(data.value) === 0"
                                        class="btn btn-raised btn-success btn-sm">
                                    <span class="glyphicon glyphicon-plus"
                                          style="margin-left: 2px;"
                                          aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div ng-show="data.owners.length === 0" class="row text-center">
                            <div class="col-sm-12">
                                <button type="button"
                                        style="margin-bottom: 8px;"
                                        ng-click="addLoggedUserToRedistribution(data.owners, 100)"
                                        ng-disabled="!data.value || parseFloatOwn(data.value) === 0"
                                        class="btn btn-raised btn-success btn-sm">
                                    Dodaj mnie z 100%
                                </button>
                            </div>
                        </div>
                        <div class="row" ng-hide="!data.owners || data.owners.length < 1">
                            <div class="col-sm-12">
                                <table width="100%">
                                    <thead>
                                    <tr>
                                        <td width="60%">
                                            <strong>Użytkownik</strong>
                                        </td>
                                        <td width="30%">
                                            <strong>Wartość</strong>
                                        </td>
                                        <td width="10%" class="text-center">
                                            <strong>Akcja</strong>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="redistribution in data.owners track by $index">
                                        <td>
                                            <img class="circular-avatar" width="32"
                                                 data-ng-src="{{getAvatar(redistribution.user.id).string}}"
                                                 alt="avatar"/>
                                            {{redistribution.user.firstName}} {{redistribution.user.lastName}}
                                            ({{redistribution.user.login}})
                                        </td>
                                        <td>
                                            {{getValueString(data, redistribution)}}
                                            ({{getPercentString(data, redistribution)}}%)
                                        </td>
                                        <td>
                                            <button type="button"
                                                    style="margin-top: 4px; width: 100%;"
                                                    class="btn btn-raised btn-danger btn-xs"
                                                    ng-click="data.owners.splice($index, 1)">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row text-normal text-center text-italic"
                             style="margin-top: 8px;"
                             ng-show="data.owners && data.owners.length > 0 && !isRedistributionListComplete(data.owners)">
                            <div class="col-sm-12">
                                <div class="alert alert-warning" role="alert">
                                    <strong>Uwaga!</strong> Suma wartości właścicieli nie daje 100%.
                                </div>
                            </div>
                        </div>
                        <div class="row text-normal text-center text-italic"
                             ng-show="!data.owners || data.owners.length < 1">
                            <div class="col-sm-12">
                                <div class="alert alert-danger" role="alert">
                                    <strong>Błąd!</strong> Transakcja musi posiadać przynajmniej jednego właściciela.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h4>Kontraktorzy</h4>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-12">
                                <button type="button"
                                        style="margin-bottom: 8px;"
                                        ng-click="openAddRedistributionModal(data.contractors)"
                                        ng-disabled="!data.value || parseFloatOwn(data.value) === 0"
                                        class="btn btn-raised btn-success btn-sm">
                                    <span class="glyphicon glyphicon-plus"
                                          style="margin-left: 2px;"
                                          aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div ng-show="data.contractors.length === 0" class="row text-center">
                            <div class="col-sm-12">
                                <button type="button"
                                        style="margin-bottom: 8px;"
                                        ng-click="addLoggedUserToRedistribution(data.contractors, 50)"
                                        ng-disabled="!data.value || parseFloatOwn(data.value) === 0"
                                        class="btn btn-raised btn-success btn-sm">
                                    Dodaj mnie z 50%
                                </button>
                            </div>
                        </div>
                        <div class="row" ng-hide="!data.contractors || data.contractors.length < 1">
                            <div class="col-sm-12">
                                <table width="100%">
                                    <thead>
                                    <tr>
                                        <td width="60%">
                                            <strong>Użytkownik</strong>
                                        </td>
                                        <td width="30%">
                                            <strong>Wartość</strong>
                                        </td>
                                        <td width="10%" class="text-center">
                                            <strong>Akcja</strong>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="redistribution in data.contractors track by $index">
                                        <td>
                                            <img class="circular-avatar" width="32"
                                                 data-ng-src="{{getAvatar(redistribution.user.id).string}}"
                                                 alt="avatar"/>
                                            {{redistribution.user.firstName}} {{redistribution.user.lastName}}
                                            ({{redistribution.user.login}})
                                        </td>
                                        <td>
                                            {{getValueString(data, redistribution)}}
                                            ({{getPercentString(data, redistribution)}}%)
                                        </td>
                                        <td>
                                            <button type="button"
                                                    style="margin-top: 4px; width: 100%;"
                                                    class="btn btn-raised btn-danger btn-xs"
                                                    ng-click="data.contractors.splice($index, 1)">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row text-normal text-center text-italic"
                             style="margin-top: 8px;"
                             ng-show="data.contractors && data.contractors.length > 0 && !isRedistributionListComplete(data.contractors)">
                            <div class="col-sm-12">
                                <div class="alert alert-warning"
                                " role="alert">
                                <strong>Uwaga!</strong> Suma wartości kontraktorów nie daje 100%.
                                </div>
                            </div>
                        </div>
                    <div class="row text-normal text-center text-italic"
                         ng-show="!data.contractors || data.contractors.length < 1">
                        <div class="col-sm-12">
                            <div class="alert alert-danger" role="alert">
                                <strong>Błąd!</strong> Transakcja musi posiadać przynajmniej jednego kontraktora.
                            </div>
                        </div>
                    </div>
                    </div>

                </div>
            </div>

        </div>

        <comments-directive id="data.id" ng-show="data.id"></comments-directive>

    </form>
</div>