<script>
    $('.custom-datepicker').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss',
        locale: 'pl-PL'
    }).on('changeDate', function(e) {
        ngModelCtrl.$setViewValue(e.date);
        scope.$apply();
    });
</script>

<div class="container">
    <div class="page-header">
        <div class="pull-left">
            <h2>Transakcja <strong>{{data.reference}}</strong></h2>
        </div>
        <div class="pull-right">
            <h1 class="text-right">
                <button type="button"
                        class="btn btn-primary pull-right"
                        style="margin-left: 2px; margin-right: 2px;"
                        ng-click="save()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    <span class="hidden-xs hidden-sm">Zapisz</span>
                </button>
            </h1>
        </div>
        <div class="clearfix"></div>
        <h4>Utworzona: {{data.created}}</h4>
    </div>

    <form class="form">

        <div class="panel panel-default">
            <div class="panel-heading">
                Podstawowe dane
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Numer</label>

                        <input class="form-control input-sm"
                               type="text"
                               name="firstName"
                               ng-maxlength="15"
                               ng-model="data.reference">
                    </div>
                    <div class="col-sm-6">
                        <dictionary-selector dictionary-key="transactionType"
                                             ng-model="data.type"
                                             clear-btn="false"
                                             label="Typ">
                        </dictionary-selector>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label>Wartość</label>

                        <input class="form-control input-sm"
                               type="text"
                               name="login"
                               ng-maxlength="50"
                               ng-model="data.value">
                    </div>
                    <div class="col-sm-6">
                        <label>Utworzona</label>

                        <input class="form-control input-sm custom-datepicker"
                               type="text"
                               name="passwordExpireDate"
                               placeholder="Pozostaw puste dla ustawienia czasu nieokreślonego"
                               ng-model="data.created">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label>Potwierdzona</label>

                        <input class="form-control input-sm custom-datepicker"
                               type="text"
                               name="passwordExpireDate"
                               placeholder="Pozostaw puste dla ustawienia czasu nieokreślonego"
                               ng-model="data.confirmed">
                    </div>
                    <div class="col-sm-6">
                        <label>Ewaluowana</label>

                        <input class="form-control input-sm custom-datepicker"
                               type="text"
                               name="passwordExpireDate"
                               placeholder="Pozostaw puste dla ustawienia czasu nieokreślonego"
                               ng-model="data.evaluated">
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">

            <div class="panel-heading">
                Dodatkowe informacje
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Opis</label>

                        <input class="form-control input-sm"
                               type="text"
                               name="description"
                               ng-maxlength="128"
                               ng-model="data.description">
                    </div>
                </div>
            </div>

        </div>

        <div class="panel panel-default">

            <div class="panel-heading">
                Dystrybucja
            </div>

            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h4>Właściciele</h4>
                            </div>
                        </div>
                        <div class="row" ng-hide="!data.owners || data.owners.length < 1">
                            <div class="col-sm-9">
                                <strong>Użytkownik</strong>
                            </div>
                            <div class="col-sm-3">
                                <strong>Wartość</strong>
                            </div>
                        </div>
                        <div class="row text-normal text-center text-italic"
                             ng-show="!data.owners || data.owners.length < 1">
                            <div class="col-sm-12">
                                <strong>Brak</strong>
                            </div>
                        </div>
                        <div class="row text-normal" ng-repeat="redistribution in data.owners">
                            <div class="col-sm-9">
                                {{redistribution.user.firstName}} {{redistribution.user.lastName}}
                                ({{redistribution.user.login}})
                            </div>
                            <div class="col-sm-3">
                                {{redistribution.value}} ({{getValueString(data, redistribution)}})%
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h4>Kontraktorzy</h4>
                            </div>
                        </div>
                        <div class="row" ng-hide="!data.contractors || data.contractors.length < 1">
                            <div class="col-sm-9">
                                <strong>Użytkownik</strong>
                            </div>
                            <div class="col-sm-3">
                                <strong>Wartość</strong>
                            </div>
                        </div>
                        <div class="row text-normal text-center text-italic"
                             ng-show="!data.contractors || data.contractors.length < 1">
                            <div class="col-sm-12">
                                <strong>Brak</strong>
                            </div>
                        </div>
                        <div class="row text-normal" ng-repeat="redistribution in data.contractors">
                            <div class="col-sm-9">
                                {{redistribution.user.firstName}} {{redistribution.user.lastName}}
                                ({{redistribution.user.login}})
                            </div>
                            <div class="col-sm-3">
                                {{redistribution.value}} ({{getValueString(data, redistribution)}})%
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>
</div>