<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edytuj komentarz</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>Treść</label>
                    <textarea class="form-control input-sm"
                              ng-init="$ctrl.selected"
                              name = "description"
                              ng-maxlength="512"
                              ng-model="{{comment.value()}}"
                              rows="6">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-raised btn-primary"
            type="button"
            ng-disabled="!$ctrl.selected"
            ng-click="$ctrl.ok()">Zapisz
    </button>
    <button class="btn btn-raised btn-warning"
            type="button"
            ng-click="$ctrl.cancel()">Anuluj
    </button>
</div>
