<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Usuń komentarz</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label>Czy jesteś pewny, że chcesz usunąć dany komentarz?</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-raised btn-primary"
            type="button"
            ng-click="$ctrl.ok()">Usuń
    </button>
    <button class="btn btn-raised btn-warning"
            type="button"
            ng-click="$ctrl.cancel()">Anuluj
    </button>
</div>
