<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Usuń komentarz</h3>
</div>
<div class="modal-body text-center" id="modal-body">
    <span>Czy jesteś pewny, że chcesz usunąć dany komentarz?</span>
</div>
<div class="modal-footer" style="margin-top: 24px;">
    <button class="btn btn-raised btn-primary"
            type="button"
            ng-click="$ctrl.ok()">Usuń
    </button>
    <button class="btn btn-raised btn-warning"
            type="button"
            ng-click="$ctrl.cancel()">Anuluj
    </button>
</div>