<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-2 text-center panel-header-avatar-margin circular-container">
                <div class="circular-wrapper circular-64">
                    <img ng-show="avatar.string" class="circular-avatar" width="64" src=""
                         data-ng-src="{{avatar.string}}" alt="avatar"/>
                    <div class="circular-avatar-text">
                        <div class="text-center circular-64" ng-click="changeAvatarTrigger()">Zmień</div>
                        <input id="changeAvatar" type="file" accept="image/*" ngf-select="changeAvatar($file)"
                               ngf-max-size="128KB" class="hide"/>
                    </div>
                </div>
                <div class="col-sm-12" ng-show="avatarFile">
                    <div class="progress" ng-click="file = false" role="button">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                             aria-valuemax="100"
                             ng-style="{'width': avatarFile.progress + '%'}">
                            {{avatarFile.progress}}%
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 panel-header-avatar-margin">
                <div>
                    <h2 class="list-group-item-heading">{{data.firstName}} {{data.lastName}}</h2>
                    <h4 class="list-group-item-text">Utworzony: {{data.created}}</h4>
                </div>
            </div>
            <div class="col-sm-3 panel-header-avatar-margin">
                <button type="button"
                        class="btn btn-success btn-raised text-center"
                        style="width: 100%;"
                        ng-click="save()">
                    Zapisz
                </button>
            </div>
        </div>
    </div>

    <form class="form">

        <div class="panel panel-primary">
            <div class="panel-heading">
                Podstawowe dane
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Imię</label>

                        <input class="form-control input-sm"
                               type="text"
                               name="firstName"
                               ng-maxlength="15"
                               ng-model="data.firstName">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Nazwisko</label>

                        <input class="form-control input-sm"
                               type="text"
                               name="surname"
                               ng-maxlength="30"
                               ng-model="data.lastName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Login</label>

                        <input class="form-control input-sm"
                               type="text"
                               name="login"
                               ng-maxlength="50"
                               ng-model="data.login">
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Adres E-Mail</label>

                        <input class="form-control input-sm"
                               type="email"
                               name="email"
                               ng-maxlength="100"
                               ng-model="data.email">
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Status konta
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <dictionary-selector dictionary-key="userStatus"
                                             ng-model="data.status"
                                             clear-btn="false"
                                             label="Status">
                        </dictionary-selector>
                    </div>
                    <div class="col-sm-6 form-group" ng-show="data.status === 'TMP'">
                        <date-time-picker
                                name="accountExpireDate"
                                label="Data wygasnięcia konta"
                                ng-model="data.accountExpireDate"></date-time-picker>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Bezpieczeństwo
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Hasło</label>

                        <input class="form-control input-sm"
                               type="text"
                               name="password"
                               ng-maxlength="15"
                               placeholder="Pozostaw puste aby nie zmieniać obecnego hasła"
                               ng-model="data.password">
                    </div>
                    <div class="col-sm-6 form-group">
                        <date-time-picker
                                name="passwordExpireDate"
                                label="Data wygasnięcia hasła"
                                ng-model="data.passwordExpireDate"></date-time-picker>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>