<script type="text/ng-template" id="comment_tree_renderer.html">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                {{comment.value}} <span class="small"><em>by <strong>{{comment.owner.login}}</strong> on {{comment.created}}&emsp;</em></span>
                <button type="button"
                        class="btn btn-xs btn-secondary"
                        ng-click="openDeleteCommentModal(comment.id)">X</button>
                <div>
                    <button type="button"
                            class="btn btn-xs btn-primary"
                            ng-click="openAddCommentModal(comment.id)">Odpowiedz
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ul ng-show="comment.children">
        <div class="row" ng-repeat="comment in comment.children" ng-include="'comment_tree_renderer.html'"></div>
    </ul>
</script>

<div class="panel panel-primary">

    <div class="panel-heading" style="cursor: pointer;" ng-click="loadComments()">
        Komentarze (kliknij tutaj, aby {{comments ? 'odświeżyć' : ' wczytać'}})
    </div>

    <div class="panel-body" ng-show="comments">
        <div class="row" ng-show="comments && comments.length == 0">
            <div class="col-sm-12">
                <em>Brak komentarzy</em>
            </div>
        </div>
        <div class="row" ng-repeat="comment in comments" ng-include="'comment_tree_renderer.html'"></div>
        <div class="row">
            <div class="col-sm-12">
                <button type="button"
                        class="btn btn-xs btn-raised btn-primary"
                        ng-click="openAddCommentModal(comment.parentComment)">Dodaj komentarz
                </button>
            </div>
        </div>
    </div>

</div>