<div class="modal-header text-center">
    <h3 class="modal-title">Zmień hasło</h3>
</div>
<div class="modal-body text-center" ng-hide="error">
    <div class="row">
        <div class="col-sm-6">
            <label class="pull-right" style="margin-top: 3px; margin-right: 10px;">Wprowadź stare hasło:</label>
        </div>
        <div class="col-sm-6">
            <input class="form-control input-sm" type="password" ng-model="oldPassword"/>

            <div class="alert alert-danger" role="alert" ng-show="oldPasswordError">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <small>{{oldPasswordError}}</small>
            </div>
        </div>
    </div>
    <hr class="app-hr"/>
    <div class="row">
        <div class="col-sm-6">
            <label class="pull-right" style="margin-top: 3px; margin-right: 10px;">Wprowadź nowe hasło</label>
        </div>
        <div class="col-sm-6">
            <input class="form-control input-sm" type="password" ng-model="newPassword"/>

            <div class="alert alert-danger" role="alert" ng-show="newPasswordError">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <small>{{newPasswordError}}</small>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-sm-6">
            <label class="pull-right" style="margin-top: 3px; margin-right: 10px;">Ponownie wprowadź nowe hasło</label>
        </div>
        <div class="col-sm-6" ng-class="{'has-error': newPasswordRepeatError}">
            <input class="form-control input-sm" type="password" ng-model="newPasswordRepeat"/>

            <div class="alert alert-danger" role="alert" ng-show="newPasswordRepeatError">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <small>{{newPasswordRepeatError}}</small>
            </div>
        </div>
    </div>
</div>
<div class="modal-body text-center" ng-show="error">
    <h4><span class="glyphicon glyphicon-exclamation-sign" style="margin-right: 8px;" aria-hidden="true"></span>{{error}}
    </h4>
</div>
<hr class="app-hr"/>
<div class="text-center" style="margin-bottom: 20px;" ng-hide="error">
    <button class="btn btn-success" ng-click="ok()">Zatwierdź</button>
    <button class="btn btn-warning" ng-click="cancel()">Anuluj</button>
</div>
<div class="text-center" style="margin-bottom: 20px;" ng-show="error">
    <button class="btn btn-danger" ng-click="cancel()">OK</button>
</div>