<form class="form" role="form">
    <div class="row">
        <div class="col-sm-4 form-group">
            <label for="referenceField">Numer referencyjny</label>

            <div class="input-group" id="referenceField">
                <input type="text" class="input-sm form-control" ng-model="transactionFilter.reference"/>
                <span class="input-group-btn">
                <button class="btn btn-sm btn-danger" type="button" ng-click="transactionFilter.reference = undefined">
                    X
                </button>
                </span>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-sm btn-primary" ng-click="applyFilters()">Szukaj</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="clearFilters()">Wyczyść wszystko</button>
</form>