#loading-bar-spinner {
    display: block;
    position: fixed;
    z-index: 10002;
    top: 50%;
    left: 50%;
}

#loading-bar-spinner .spinner-icon {
    width: 42px;
    height: 42px;

    border: solid 2px transparent;
    border-top-color: #F17F0C;
    border-left-color: #F17F0C;
    border-radius: 40px;

    -webkit-animation: loading-bar-spinner 400ms linear infinite;
    -moz-animation: loading-bar-spinner 400ms linear infinite;
    -ms-animation: loading-bar-spinner 400ms linear infinite;
    -o-animation: loading-bar-spinner 400ms linear infinite;
    animation: loading-bar-spinner 400ms linear infinite;
}