body {

}

.ng-invalid.ng-touched {
    background-color: #F17F0C;
}

.top-margin {
    margin-top: 5px;
}

.app-hr {
    border: 0;
    border-top: 1px solid #009688;
}

.page-header {
    border-bottom: 1px solid #009688;
}

.modal-footer {
    border-top: 1px solid #009688;
}

.modal-header {
    border-bottom: 1px solid #009688;
}

.error {
    background-color: #ffdcdf;
}

input.ng-invalid.ng-touched {
    background-color: #ffdcdf;
}

.glph-def-em {
    font-size: 12px;
}

.jumbotron.vertical-center {
    margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

/*noinspection CssOverwrittenProperties*/
.vertical-center {
    min-height: 100%; /* Fallback for vh unit */
    min-height: 100vh;
    /* You might also want to use
                           'height' property instead.

                           Note that for percentage values of
                           'height' or 'min-height' properties,
                           the 'height' of the parent element
                           should be specified explicitly.

                           In this case the parent of '.vertical-center'
                           is the <body> element */

    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    /* Align the bootstrap's container vertically */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    width: 100%;

    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.

       Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.login-page {
    padding-bottom: 25%;
    padding-top: 70px;
    background: url("/images/brand.png") no-repeat center top;
    background-size: auto 60px;
}

.container {
}

.table-row-highlight tr:hover {
    background-color: rgba(33, 33, 33, 0.05);
}

.table-row-cursor-hand {
    cursor: pointer;
}

.text-normal {
    font-weight: normal;
}

.text-italic {
    font-style: italic;
}

.modal-body {
    margin-top: 20px;
}

.circular-avatar {
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.circular-64 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

div.circular-avatar-text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: table;
    position: absolute;
    top: 0;
    opacity: 0;

    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;

    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}

div.circular-avatar-text div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.circular-wrapper:hover div.circular-avatar-text {
    opacity: 1;
}
