body {

}

.ng-invalid.ng-touched {
    background-color: #F17F0C;
}

.top-margin {
    margin-top: 5px;
}

.app-hr {
    border: 0;
    border-top: 1px solid #009688;
}

.page-header {
    border-bottom: 1px solid #009688;
}

.modal-footer {
    border-top: 1px solid #009688;
}

.modal-header {
    border-bottom: 1px solid #009688;
}

.error {
    background-color: #ffdcdf;
}

input.ng-invalid.ng-touched {
    background-color: #ffdcdf;
}

.glph-def-em {
    font-size: 12px;
}

.container {
}

.table-row-highlight tr:hover {
    background-color: rgba(33, 33, 33, 0.05);
}

.table-row-cursor-hand {
    cursor: pointer;
}

.text-normal {
    font-weight: normal;
}

.text-italic {
    font-style: italic;
}

.modal-body {
    margin-top: 20px;
}

.circular-avatar {
    box-shadow: 0 0 0 2px #fff;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.circular-64 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

div.circular-avatar-text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: table;
    position: absolute;
    top: 0;
    opacity: 0;

    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;

    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}

div.circular-avatar-text div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.circular-wrapper:hover div.circular-avatar-text {
    opacity: 1;
}